= form_for @question_and_answer do |f|
  - if @question_and_answer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question_and_answer.errors.count, "error")} prohibited this question_and_answer from being saved:"
      %ul
        - @question_and_answer.errors.full_messages.each do |msg|
          %li= msg

  .field
    .block.uppercase.tracking-wide.text-gray-500.text-xs.font-bold.mb-2= f.label :question
    .block.w-full.bg-gray-200.text-gray-800.border.rounded.py-3.px-4.mb-3=f.text_area :question
  .field
    .block.uppercase.tracking-wide.text-gray-500.text-xs.font-bold.mb-2= f.label :answer
    .block.w-full.bg-gray-200.text-gray-800.border.rounded.py-3.px-4.mb-3= f.text_area :answer
  .actions
    = f.submit 'Save', class: "bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded"
