= render partial: "home/partials/navbar"

= render partial: "home/partials/cover"

= render partial: "home/partials/pretty_text"

= render partial: "home/partials/gallery"

= render partial: "home/partials/timer"

= render partial: "home/partials/video"

= render partial: "home/partials/party_manager"

= render partial: "home/partials/questions_and_answers"

= render partial: "home/partials/song_request"

-# = render partial: "home/partials/gift_registry"

= render partial: "home/partials/uber"

= render partial: "home/partials/footer"
