%p#notice= notice

%p
  %b First name:
  = @group_member.first_name
%p
  %b Last name:
  = @group_member.last_name
%p
  %b Email:
  = @group_member.email
%p
  %b Group:
  = @group_member.group

= link_to 'Edit', edit_group_member_path(@group_member)
\|
= link_to 'Back', group_members_path
