-# Navbar
%nav.navbar.hidden.lg:flex.w-full{ data: { controller: "navbar"}}
  .hidden{ data: { "target": "navbar.initialOffset"}}
  .flex.justify-between.w-full
    .flex.ml-6.cursor-pointer{ data: { action: "click->navbar#scrollToSection"}}
      #white-icon= image_tag "https://ik.imagekit.io/nhrknfxy8/icon-white_RkisiFqRH.svg", width:"80"
      #dark-icon= image_tag "https://ik.imagekit.io/nhrknfxy8/icon-black_GGf62673l.svg", width:"50"
    .flex.h-auto.items-center
      = link_to "Our Memories", "#", class: "link typewriter", data: { action: "click->navbar#scrollToSection", target_hash: "#memories"}
      = link_to "Countdown", "#", class: "link typewriter", data: { action: "click->navbar#scrollToSection", target_hash: "#timer-section"}
      = link_to "Our Engagement", "#", class: "link typewriter", data: { action: "click->navbar#scrollToSection", target_hash: "#engagement"}
      = link_to "RSVP", "#", class: "link typewriter", data: { action: "click->navbar#scrollToSection", target_hash: "#invitations"}
      = link_to "Questions", "#", class: "link typewriter", data: { action: "click->navbar#scrollToSection", target_hash: "#questions"}
      = link_to "Request a song", "#", class: "link typewriter", data: { action: "click->navbar#scrollToSection", target_hash: "#song-request"}
      = link_to "Location", "#", class: "link typewriter", data: { action: "click->navbar#scrollToSection", target_hash: "#location"}
