!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title WeddingWebsite
    %meta{:content => "European Travel Destinations", :property => "og:title"}/
    %meta{:content => "Offering tour packages for individuals or groups.", :property => "og:description"}/
    %meta{:content => "http://euro-travel-example.com/thumbnail.jpg", :property => "og:image"}/
    %meta{:content => "http://euro-travel-example.com/index.htm", :property => "og:url"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js"}
    %link{:href => "https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css", :rel => "stylesheet"}
  %body
    %p.notice= notice
    %p.alert= alert
    = yield
